body {
  font-family: "Lato", sans-serif;
}
div {
  box-sizing: border-box;
}
/* HEAD SECTION START */
.head_first {
  color: white;
  height: 100px;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.flex ul li {
  display: inline;
  margin-right: 40px;
}
.flex ul a {
  color: #75838f;
}
.flex ul a:hover {
  color: white;
  text-decoration: none;
}
.flex ul {
  margin-top: 6px;
}
.logo {
  height: 28px;
  width: 28px;
  margin-top: 4px;
  margin-right: 5px;
}
.logo img {
  margin-bottom: -5px;
}
.logo_flex {
  display: flex;
}
.profile {
  display: flex;
  margin-top: -10px;
}
.profile img {
  margin-right: -45px;
}
.profile div {
  margin-top: 15px;
}

#header {
  background-color: #3c434d;
}
.bold_logo {
  font-weight: bold;
  font-size: 26px;
}
.profile_dot {
  position: relative;
  bottom: 92px;
left: 66px;

}
.relative {
  position: relative;
  left: 94px;
  bottom: 5px;
  z-index: 1000;
}

/* SECOND PART */
.header {
  height: 86vh;
  background-size: cover;
  background-image: url("./Img/vestrahorn-mountain-iceland.jpg");
}
.header_content {
  padding-top: 120px;
  color: white;
}
.p_text {
  font-size: 18px;
  text-align: center;
  width: 820px;
  margin: 0 auto;
}
.head_text {
  font-size: 48px;
  text-align: center;
  width: 750px;
  margin: 0 auto;
}
.header_btn {
  margin-top: 50px;
  text-align: center;
}
.opacity_btn {
  background: rgba(255, 255, 255, 0.3);
  margin-left: 25px;
}

/* FINISH HEAD SECTION*/

/* START FEEDBACK SECTION*/
#feedback {
  height: 560px;
}
.feed_head {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 2em;
  font-weight: bold;
}

.feed_form {
  text-align: center;
  margin-top: 30px;
}

.feed_input {
  border: 2px #b2c1cc solid;
  border-radius: 5px;
  padding: 10px 0 10px 20px;
  width: 220px;
}
.feed_input1 {
  border: 2px #b2c1cc solid;
  border-radius: 5px;
  padding: 10px 0 10px 20px;
  margin-right: 40px;
  width: 220px;
}

.feed_input::placeholder {
  color: #b2c1cc;
}
.option::placeholder {
  color: #474747;
}
.okay {
  margin-top: 20px;
  text-align: center;
  margin-right: 80px;
}
.okay a {
  text-decoration: underline;
}
.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
button {
  background-color: #629fd1;
  border: none;
  border-radius: 5px;
  padding: 10px 40px 10px 40px;
  color: white;
}
/* FINISH FEEDBACK SECTION*/

/* FREQUANTLY ASKED QUESTION  START*/

.faq {
  color: #80909c;
  font-size: 18px;
}
.faq_head {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 36px;
  font-weight: bold;
}
.faq_header {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
}
.faq_img {
  width: 100%;
  height: 50px;
  margin-top: 1em;
}
.faq_margin {
  margin-bottom: 60px;
}

/* FINISH FAQ SECTION*/

/* START TEAM SECTION */
.flex_team {
  display: flex;
  justify-content: space-between;
  margin-left: 5em;
}
.team_header {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}
.right {
  float: right;
  padding-top: 80px;
}
.left {
  float: left;
  padding-top: 80px;
}
/* FINISHED TEAM SECTION */

/* FOOTER SECTION START */
#footer {
  margin-top: 190px;
  background-color: #3c434d;
  padding-top: 70px;
  padding-bottom: 70px;
}
.foot_logo {
  display: flex;
}
.foot_logo img {
  width: 35px;
  height: 35px;
  margin-top: 4px;
}

.foot_logo p {
  font-size: 28px;
  font-weight: 900;
  color: #fff;
  margin-left: 12px;
}
.foot_text {
  font-size: 18px;
  color: #80909c;
  font-weight: 100;
}
.foot_text ul {
  list-style-type: none;
  margin-left: -40px;
}
.foot_text ul li {
  margin-top: 10px;
}
.foot_head {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.foot_form input {
  background-color: #50565f;
  margin-top: 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 0 10px 20px;
  width: 300px;
}
.foot_form input::placeholder {
  color: #99a6b1;
}
.foot_form button {
  margin-top: 30px;
}
.footer_flex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.left_point {
  color: #80909c;
  font-size: 18px;
}
.footer_flex img {
  margin-right: 25px;
}
/* FINISHED FOOTER SECTION */

@media screen and (max-width: 993px) {
  .p_text {
    width: 100%;
  }
  .profile_dot {
    position: relative;
    bottom: 91px;
  left: 111px;}
  /* .flex ul li {
    display: block;
    margin-right: 0;
  }
  .head_first {
    color: white;
    height: 150px;
  } */
  .head_text {
    width: 100%;
    font-size: 2.3em;
  }
  .profile img {
    margin-right: 0px;
  }
  .profile div {
    margin-left: -50px;
  }
}
@media screen and (max-width: 500px) {
  .head_text {
    font-size: 1.4em;
  }
  .p_text {
    font-size: 1em;
  }
  .opacity_btn {
    margin-left: 0;
  }
  .feed_input1 {
    margin-right: 0;
  }
  .okay {
    margin-right: 0;
  }
  #footer {
    padding-bottom: 65%;
  }
}
@media screen and (max-width: 360px) {
  #footer {
    padding-bottom: 100px;
  }
}
